footer {
    margin-top: 4rem;
    background: #333;
    color: white;
    padding-bottom: 2rem;
}

.tricolor-bar {
    height: 5px;
    background: linear-gradient(to right, #009246 33%, #F1F2F1 33%, #F1F2F1 66%, #CE2B37 66%);
}

.footer-content {
    padding-top: 2rem;
}

p {
    color: #bbb;
    font-size: 0.9rem;
}